.card {
  background-color: #f3cd94;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  color: #32446c;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.btn-primary {
  background-color: #32446c !important;
  border-color: #32446c !important;

}
.modal-content {
  background-color: #f3cd94;
}
.modal-header {
  color: #32446c;
  border-color: #f3cd94;
}
.modal-footer {
  border-color: #f3cd94;
}
button {
  background-color: #32446c;
  color: white;
}
.btn-close {
  background-color: white;
  color: #32446c;
  opacity: 100%;
}
