.card {
  background-color: #8fa8a2;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.btn-primary {
  background-color: #32446c !important;
  border-color: #32446c !important;
}
