<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid myclass">
    <a class="navbar-brand" href="/">
      <img src="assets/images/logo.png" alt="Logo" width="60" height="60" class="d-inline-block ">
      Magazynierzy
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Strona Główna</a>
        </li>
        <li class="nav-item" *ngIf="auth.isAuthenticated()">
          <a class="nav-link" routerLink="/inventory">Lista artykułów</a>
        </li>
        <li class="nav-item" *ngIf="auth.isAdmin()">
          <a class="nav-link" routerLink="/add-item">Dodaj artykuł</a>
        </li>
        <li class="nav-item" *ngIf="auth.isAuthenticated()">
          <a class="nav-link" href="#" (click)="auth.logout()">Wyloguj </a>
        </li>
        <li class="nav-item" *ngIf="!auth.isAuthenticated()">
          <a class="nav-link" href="/login">Zaloguj </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

